*{ /* basic styling on the nav bar*/
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
nav 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 14vh;
    background-color: #4d7e85;
    font-family: 'Roboto Slab', serif;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    align-self: auto;
    width: 40%;
    background-color: #4d7e85;
}
.nav-links a
{
    color: rgb(253, 253, 253);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}
.nav-links li
{
    list-style: none;
}
.logos{
    color:rgb(253, 253, 253);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.logos img {
    height: 150px;
    margin: 20px auto;
    
  }
.burger div
{
    width: 25px;
    height: 3px;
    background-color: rgb(253, 253, 253);
    margin: 5px;
    
}
@media screen and (max-width: 1024px){
    .nav-links
{  
    width: 55%;  
}
    }
@media screen and (max-width: 768px)
{
    body{
        overflow-x: hidden;
        cursor: pointer;
    }
    .nav-links
    {
        position: absolute;
        top: 8vh;
        right: 1px;
        height: 92vh;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4d7e85;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger{
        display: block;

    }
    .nav-active
    {
        transform: translateX(0%);
    }
}/* end of styling nav bar*/

body{ background-image: url(../imgs/birds.jpg);background-repeat:no-repeat;background-size: cover; font-family: 'Roboto Slab', serif;}

#outer /*creating a sort of outer layer to the box to allow for better possitioning*/
{
    display: block;
    margin: 20px;
    text-align: center;
}
#inner /*creating a sort of inner layer to the box to allow for better possitioning*/
{
    display: block;
    margin: 10px;
    border: 20px;
    padding: 10px;
}
.cvcontent
{
    background-color: #4d7e85;
    display: inline-block;

}
#p1
{
    display: inline-block;
    text-align: left;
}
#p2
{
    display: inline-block;
    text-align: left;
}
/*All table styling*/
th, td {
    padding: 15px;
  }
  table, th, td 
  {
    border-spacing: 5px;
    border-style: double;
    border: 1px solid black;
    border-collapse: collapse;
  }
#ftrh
{
    font-weight: bold;
}
#smh
{
    font-weight: bold;
    text-decoration: underline;
}
#lnk1, #lnk2, #lnk3,#lnk4
{   
    text-decoration: none;
}